<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(order.errors.count, "error") %> <%= t ".prohibated_message"%></h4>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="form-group">
    <%= f.text_area :body, class: "col-md-6 col-md-offset-3", placeholder: (t ".aliexpress_url") %>
  </div>
</div>
  <!-- <div class="field">
    <%#= f.label :status %>
    <%#= f.check_box :status %>
  </div> -->
<br>
  <div class="form-group">
  <center><%= f.submit (t ".create_order_button"), class: 'btn btn-primary' %></center>
  </div>
  
<% end %>

