<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @order.body %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>
<h2>Comments</h2>
<%= render @order.comments %>
<br>
<%= render "comments/form"%>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
