<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
<p id="notice"><%= notice %></p>
<div class="well">
<p>
  <strong>Order:</strong>
  <a><%= @order.body %> </a>
</p>
</div>
<hr>
<%= render @order.comments %>(<%= @order.comments.count%>)
<br>
<%= render "comments/form"%>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
    </div>
  </div>
</div>