<div class="row">
<div class="col-md-6 col-md-offset-3">

  <h3>Send A message to Us</h3>

  <%= simple_form_for @contact do |f| %>
    <%= f.input :name, label: "Your Name", required: true %>
    <%= f.input :email, label: "Email", required: true %>
    <%= f.input :message, label: "Your Message", :as => :text, required: true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
       <div>
    <%= recaptcha_tags %> <!-- THIS -->
  </div>
  <br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
</div>
