<div class="row">
<div class="col-md-6 col-md-offset-3">

<h2>Sign in to Make Your Order</h2>


<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <%= f.input :email, label: "Email", placeholder: "Enter Email",error: 'Email is mandatory, please specify one'%>
  <%= f.input :password, label: "Password", placeholder: "Enter Password", error: 'Password is mandatory, please specify one'%>
  <% if devise_mapping.rememberable? -%>
  <%= f.input :remember_me, inline_label: 'Yes, remember me',as: :boolean %>

  <% end -%>
 <%= f.button :submit, "Sign in",class: "btn btn-primary" %>

<% end %>

<%= render "devise/shared/links" %>
</div>
</div>