<div class="row">
<div class="col-md-6 col-md-offset-3">

<h2><%= t ".signin_title"%></h2>


<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <%= f.input :email, label: (t ".email"), placeholder: (t ".email_placeholder"),error: (t ".email_error_message")%>
  <%= f.input :password, label: (t ".password"), placeholder: (t ".password_placeholder"), error: (t ".password_error_message")%>
  <% if devise_mapping.rememberable? -%>
  <%= f.input :remember_me, inline_label: (t ".remember_me_label"), as: :boolean %>

  <% end -%>
 <%= f.button :submit, (t ".sign_in_button"),class: "btn btn-primary" %>

<% end %>

<%= render "devise/shared/links" %>
</div>
</div>