<!DOCTYPE html>
<html>
  <head>
    <title>EasyGetShop</title>
     <meta charset="utf-8">
    <meta name="description" content="M-Store - Modern E-Commerce Template" />
    <meta name="keywords" content="shop, e-commerce, modern, minimalist style, responsive, online store, business, mobile, blog, bootstrap, html5, css3, jquery, js, gallery, slider, touch, creative, clean" />
    <meta name="author" content="Rokaux" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>

  </head>
  <body class="page-preloading">
  <%= render 'layouts/preloader'%>

  <div class="page-wrapper">

    <%#= render 'layouts/header' %>
    <!--<div class="container">
      <class="row">
         <div class="panel panel-default">
           <div class="panel-body">-->
            <!-- <center>ভাষা নির্বাচন করুন: <%#= link_to_unless_current "English", locale: "en"%> |
           <%#= link_to_unless_current "বাংলা", locale: "bn"%>
             </center>
           </div>
         </div>-->
<%= render 'layouts/navbar'%>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>


        <%= yield %>
  </div>
    </div>

        <%= render 'layouts/footer' %>
      </div>


  </body>
</html>
